.topHeading{
    margin-left: 15px;
    color: red;
    font-size: 30px;
    padding-top: 20px;
}
.appForm .appFormStyle .ant-col-md-12:nth-child(1){
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 20px;
}
.appForm .appFormStyle .ant-col-md-12:nth-child(2){
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 30px;
}
.appFormStyle label {
    position: relative;
    /* top: 14px; */
    /* top: 10px; */
    font-size: 15px;
    color: black;
    margin: 0 0 10 0;
    display: inline-block;
    line-height: 20px;
}
.appForm .appFormStyle input {
    background: none;
    border: none;
    border-bottom: 1px solid #CECECE;
    padding: 0 0 10px 0;
    font-size: 14.5px;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
    margin: 0px;
}
.appForm .appFormStyle input:focus {
    color: #495057;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
}
.appForm .appFormStyle .ant-select-selection:focus, .appForm .appFormStyle .ant-select-selection__rendered:focus {
    color: #495057;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
}
.appForm .appFormStyle input:focus::-moz-placeholder {
    color: inherit;
    opacity: 0.7;
}
.appForm .appFormStyle input:focus:-ms-input-placeholder {
    color: inherit;
    opacity: 0.7;
}
.appForm .appFormStyle input:focus::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.7;
}
.appForm .appFormStyle input::-moz-placeholder {
    color: inherit;
    opacity: 0.33;
}
.appForm .appFormStyle input:-ms-input-placeholder {
    color: inherit;
    opacity: 0.33;
}
.appForm .appFormStyle input::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.33;
}  


/*.appForm .appFormStyle .ant-select-selection {*/
  .select{  
    background: none;
    border: none;
    border-bottom: 1px solid #CECECE;
    /*padding: 0 0 7px 0; */
    font-size: 14.5px;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
    color: #2c2c2c;
    transition: none;
}
.select:focus{
    color: #495057;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
}
.birth{  
    text-align: left;
    border-bottom: 1px solid #CECECE;
    border: none;
    padding:0%;
    width: 620px ;
}
/*.appForm .appFormStyle .ant-calendar-picker-input.ant-input .ant-calendar-range-picker-separator input {*/
.range{  
    text-align: left;
    border-bottom: 1px solid #CECECE;
    border: none;
    padding:0%;
    width: 530px;
}
.range:focus{  
    text-align: left;
    border-bottom: 1px solid #CECECE;
    border: none;
}
.ant-calendar-range-picker-separator {
    text-align: left;
    border-bottom: 1px solid #CECECE;
    border: none;
}
/*.appForm .appFormStyle .ant-select-selection:focus, .appForm .appFormStyle .ant-select-selection__rendered:focus {
    color: #495057;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
}*/
.appForm .appFormStyle Textarea {
    background: none;
    border: none;
    border-bottom: 1px solid #CECECE;
    padding: 0 0 10px 0;
    font-size: 14.5px;
    color: #2c2c2c;
    outline: 0 ;
    -webkit-box-shadow: none;
    box-shadow: none!important;
    margin-top: 5px; 
    margin-bottom: 0px; 
    height: 45px;
}
.blue-btn {
    background-color: #16528E;
    border-color:  #16528E;
    color: #fff;
    font-size: 16px;
    font: sans-serif ;
    padding: 0 25px;
    border-radius: 4px;
    position: relative;  
}
.blue-btn:hover {
    background-color: #16528E;
    border-color:   #16528E;
}



/*
@media (max-width: 767px) {
    .appForm > .ant-row {
        margin-left: 0!important;
        margin-right: 0!important;        
    }
    .appForm .appFormStyle .ant-col-md-12:nth-child(1){
        padding-right: 0rem;
    }
    
    .appForm .appFormStyle .ant-col-md-12:nth-child(2){
        padding-left: 0rem;
    }
}

@media  (min-width: 768px) and (max-width: 991px){
    .appForm .appFormStyle .ant-col-md-12{
        padding: 0 15px !important;
    }
}*/


